* {
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	height: 100vh;
}

body {
	max-width: 55rem;
	margin: 0 auto;
	font-size: 1.6rem;
	font-family: "Inter", sans-serif;
	border: 1px solid rgba(245, 245, 245, 1);
}

.navbar {
	background: rgba(245, 90, 90, 1);
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 6px;
	font-size: 1.4rem;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
}

.navbar--logo {
	width: 2.4rem;
	height: 2.4rem;
}

.cards {
	padding: 1.8rem;
}

.card {
	padding: 4.5rem 4rem;
	display: flex;
	column-gap: 2rem;
}

.card:not(:last-child) {
	border-bottom: 1px solid rgba(245, 245, 245, 1);
}

.card--image {
	max-width: 12.5rem;
	aspect-ratio: 1/1;
	width: 100%;
	border-radius: 5px;
}